<section class="px-1 py-8 container">

    <div class="grid grid-cols-2 gap-8">
        
        <div class="left">
            <div class="top-info mb-2">
                <p class="text-xs text-red-500">-111.0(-0.06%)</p>
            </div>
            <div class="under">
                <div class="flex justify-between items-center mb-1">
                    <div class="flex items-center gap-1">
                            <p class="text-xs text-red-500">{{data?.gain}}</p>
                            <span class="text-gray-500 text-xs">{{data?.entryPrice}}</span>
                    </div>

                    <div class="flex justify-between items-center gap-1">
                        <p class="text-xs text-blue-500">Buy</p>
                        <span class="text-gray-500 text-xs">50%</span>
                    </div>
                </div>

                <img class="w-full" src="/assets/images/progress-bar.png" alt="">
            </div>
        </div>
        <div class="right">
                <div class="top-right flex items-center mb-2 justify-between">
                    <p class="text-xs text-gray-500">High : 1809.96</p>
                    <p class="text-xs text-gray-500">low : 1700.96</p>
                </div>
                <div class="top-under relative ">
                        <div class="flex items-center justify-between gap-2">


                                <div class="bg-red-200 flex flex-col">
                                    <div class="flex items-center py-1 px-7 gap-2">
                                        <img class="w-full" src="/assets/svg/sell-arrow.svg" alt="">
                                        <span class="text-red-800 text-xs">SELL</span>
                                        
                                    </div>
                                    <div class="text-center">
                                        <p class="text-xs">1796.39</p>
                                    </div>
                                </div>

                                <div class="">
                                    <span class="absolute top-0 bg-white px-2 left-20">17</span>
                                </div>


                                <div class="bg-blue-100">
                                    <div class="flex items-center  py-1 px-5 gap-2">
                                        <img class="w-3" src="/assets/svg/buy-arrow.svg" alt="">
                                        <span class="text-blue-800 text-xs">SELL</span>
                                        
                                    </div>
                                    <div class="text-center">
                                        <p class="text-xs">1796.39</p>
                                    </div>
                                </div>
                        </div>

                        <!-- <div class="bg-white">
                                <span>17</span>
                        </div> -->
                </div>
        </div>
    </div>

</section>